@model SistemaEstagio.Models.Produto

<h1>Create</h1>
<h4>Produto</h4>
<hr />

<form action="/Produtos/Create" method="post">
    <div class="form-group mb-3">
        <label>Cliente</label>
        @* Isso cria a lista de seleção que o avaliador pediu *@
        <select name="IdCliente" class="form-control" asp-items="ViewBag.IdCliente">
            <option value="">-- Selecione um Cliente --</option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label>Nome do Produto</label>
        <input name="Nome" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label>Valor</label>
        <input name="Valor" class="form-control" type="number" step="0.01" />
    </div>

    <div class="form-group mb-3">
        <label>Disponível</label>
        <input name="Disponivel" type="checkbox" value="true" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>