@model SistemaEstagio.Models.Produto

<h1>Excluir Produto</h1>
<h3 class="text-danger">Tem certeza que deseja apagar este produto?</h3>
<hr />
<div>
    <p><strong>Produto:</strong> @Model.Nome</p>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdProduto" />
        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>